* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v71_2 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_10 {
  width: 100%;
  height: 1024px;
  background: rgba(167,6,6,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 88px;
  overflow: hidden;
}
.v4_12 {
  width: 100%;
  height: 130px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_20 {
  width: 129px;
  height: 53px;
  background: rgba(209,204,204,1);
  padding: 16px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 721px;
  overflow: hidden;
}
.v5_19 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 10px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v7_71 {
  width: 323px;
  height: 95px;
  background: url("../images/v7_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 35px;
  overflow: hidden;
}
.v49_97 {
  width: 166px;
  height: 53px;
  background: rgba(209,204,204,1);
  padding: 16px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 1084px;
  overflow: hidden;
}
.v49_98 {
  width: 163px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 1px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v49_99 {
  width: 158px;
  height: 53px;
  background: rgba(209,204,204,1);
  padding: 16px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 897px;
  overflow: hidden;
}
.v49_100 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 5px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v7_54 {
  width: 195px;
  height: 764px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 1px;
  overflow: hidden;
}
.v7_55 {
  width: 44px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 56px;
  left: 75px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v50_2 {
  width: 100px;
  height: 100px;
  background: url("../images/v50_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 56px;
  overflow: hidden;
}
.v49_146 {
  width: 129px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 109px;
  left: 32px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v49_147 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 172px;
  left: 57px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v49_149 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 235px;
  left: 58px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v7_80 {
  width: 100%;
  height: 764px;
  background: rgba(231,231,231,1);
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 196px;
  overflow: hidden;
}
.v6_22 {
  width: 678px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 44px;
  left: 204px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v49_110 {
  width: 515px;
  height: 439px;
  background: url("../images/v49_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 275px;
  overflow: hidden;
}
